{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>Bitmap</title>
<script src="{% static 'assets/js/waypoints/lib/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets/js/waypoints/lib/shortcuts/infinite.min.js' %}"></script>
<style type="text/css">
  .loader {
    border: 13px solid #f3f3f3;
    border-radius: 50%;
    border-top: 13px solid #4169E1;
    border-bottom: 13px solid #4169E1;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
</style>
{% endblock %}


{% block content %}
<div id="home">
  <div class="banner">
    <header class="header_area">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container box_1620">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto">
              <li class="nav-item active"><a class="nav-link" style="background: transparent;" href="{% url 'home' %}">Home</a></li>
              <li class="nav-item"><a class="nav-link" style="background: transparent;" href="{% url 'aboutus' %}">About</a></li>
              <li class="nav-item"><a class="nav-link" style="background: transparent;" href="{% url 'contactus' %}">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="background: transparent;">
              <li class="nav-item"><a href="#" class="search" style="background: transparent;"><i class="lnr lnr-magnifier"></i></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <img src="{% static 'images/back.jpg' %}" alt="banner" class="img-responsive">
    <div class="caption">
      <div class="caption-wrapper">
        <div class="caption-info">
          <h1>Photography is the beauty of life captured</h1> <br><br>
          <p>Photography has no rules, it is not a sport. <br>It is the result which counts, no matter how it is achieved. </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin-left:5px;margin-right:5px;">
  <!-- works -->
  <div id="works" class=" clearfix grid">
    <div class="infinite-container">
      {% for data in pics %}
      <div class="infinite-item">
        <figure class="effect-oscar  wowload fadeInUp">
          <img src={{ data.imgpath }} alt="img01" />
          <figcaption>
            <h1>{{ data.title }}</h1><br>
            <p> Light's Imagination <br><br>
              <a href="{{ data.imgpath }}" title={{ data.id }} data-gallery>View more</a></p>
          </figcaption>
        </figure>
      </div>
      {% empty %}
      {% endfor %}
    </div>
  </div>
</div>

<div style="float:left;width:100%;text-align:center;margin-top:1%;margin-bottom:2%;">
  <h3> <strong>
      {% if pics.has_previous %}
      <a href="?page={{ users.previous_page_number }}" style="color:#00FF00">&laquo;</a>
      {% else %}
      <font color="#D3D3D3"> &laquo; </font>
      {% endif %}
      <font color="#00FF00"> &nbsp;&nbsp; More &nbsp;&nbsp; </font>
      {% if pics.has_next %}
      <a href="?page={{ pics.next_page_number }}" style="color:#00FF00"> &raquo; </a>
      {% else %}
      &raquo;
      {% endif %}
    </strong> </h3>
</div>
{% endblock %}
